/* Efectos a la barra de navegación del header
líneas abajo con movimiento*/
.header-nav a {
    position: relative;
}
.header-nav ul li a:before{
    content:'';
    background: rgba(139, 72, 191, 0.6);
    position:absolute;
    bottom:-10px; 
    width: 0px;
    height: 0px;
    transition:  0.5s ease-in-out;
}

.header-nav ul li a:hover::before{
    width: 100%;
    height: 4px;
}

/* Efecto RR.SS construcci[on */
.efecto-a-redes {
    transition: ease-in-out;
    animation: rotar 10s linear infinite;
}

/*efecto menu movile desplegable*/
#evento-click:checked ~ .special-nav{
    /*transform: translateX(-50%);*/

    padding-right: 150px ;
    visibility: visible;
}
#evento-click:checked ~ .btn__open-nav {
    z-index: 11;
}
#evento-click:checked ~ .btn__open-nav img {
    display: none;
}
#evento-click:checked ~ .btn__open-nav p {
    align-items: center;
    color: var(--aqua-color);
    display: flex;
    font-size: 24px;
    justify-content: center;
   
}
/* Boto ver mas*/
#evento-ver-mas:checked ~ .despliege {
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: flex-start;
    margin: 90px 0 40px;

}

/* Animación boton del fomulario  agrande y empqueñese
el boton de forma constante*/

.scale-animation {
    animation: scale 4s alternate infinite;
}    
@keyframes scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
@keyframes rotar {
    5% { transform: rotate(90deg);}
    20% { transform: scale(1); }
    30% { transform: scale(1.5); }
    40% { transform: scale(1.5); }
    50% { transform: rotate(-90deg) scale(1.5);}
    60% { transform: scale(1.5);}
    100% { transform: scale(1);}

}
